header {
    background-color: #E9F1F2; 
    color: #343434;
    text-align: center;
    padding: 5px; 
}  

body {
    FONT-FAMILY: Georgia, "Times New Roman", Times, serif;
    COLOR: #4A4A4A;
    BACKGROUND-COLOR: #aaa;
    width: 60%;
    margin: 0 auto;
    padding: 0;
}


.inputSection {
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    BACKGROUND-COLOR: #09E7F8;
    padding-top: 5px;
}

.content {
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: white;
    color: #343434;
    padding: 35px;
}

input[type="text"] {
    width: 200px;
    height: 22px;
}

BUTTON { /*The same goes for the button*/

    /* #Belize Hole Sea Flat Button
    ==================================================*/
	position: relative;
    vertical-align: top;
    padding: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #5A798B;
    border: 0;
    cursor: pointer;
}

footer {
    background-color: #E9F1F2;
    color: #343434;
    clear: both;
    text-align: center;
    padding: 15px;	 	 
}