header {
    background-color:#26a3f6;
    color:white;
    text-align:center;
    padding:5px; 
}  

body {
    FONT-FAMILY: Georgia, "Times New Roman", Times, serif;
    FONT-SIZE: 1em;
    COLOR: #4A4A4A;
    BACKGROUND-COLOR: rgba(0, 0, 0, .1);
    line-height: 1.5;
    max-width: 43.75em; 
    margin: 0 auto;
    padding: 0;
}


.inputSection {
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    BACKGROUND-COLOR: #b2cbed
}

.content {
    FONT-WEIGHT: bold;

}

BUTTON { /*The same goes for the button*/
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	FONT-SIZE: 15px;
	COLOR: #FFFFFF;
	BACKGROUND-COLOR:dodgerblue;
}

footer {
    background-color:rgba(0, 0, 0, .1);
    color:black;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
